.task-container{
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #dccef9;
  font-family: Arial, Helvetica, sans-serif;
  margin: 8px 0;
  padding: 15px;
  border-radius: 12px;
  color: #4a3a66;
  cursor: pointer;
  transition:  0.2s ease;
}
.remove-task-button{
  background-color: transparent;
  border: none;
  font-size: 22px;
  color:#2e2242;
}
.task-container:active{
  transform: translateY(4px);

}