.container{
  width: 90%;
  max-width: 1200px; /*nunca passa de 500px
  margin: auto; /*centraliza horizontalmente e dá espaçamento em cima/baixo*/
  overflow:auto;/*para controlar contéudo que excede*/
  margin: 40px auto;
  padding: 30px;
  border-radius: 10px; /*cantos arredondados suaves*/
  background-color: #3e3850;
}
@media (max-width: 787px){
  .container{
    width:100%;
    padding: 15px;
    margin:0;
    border:none;
  }
}


